
@mixin box-sizing ($box-model) {
    box-sizing: $box-model;
}

//Media Queries
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

//Contenido

@mixin contenido($color){
    background-color: $color;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
}

//Boton 
@mixin boton($color1, $color2) {
    background-color: $color1;
    color: $color2;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
