@import 'variables';
@import 'mixins';


body {
    @include box-sizing (border-box);
    background-color: $gris;
    margin: 0;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    flex: 0 1 100%;
    text-align: center;
}

h3 {
    font-family: $fuentePrincipal;
    margin: 0;
    font-size: 700;
}

img {
    max-width: 100%;
}

//Header
.hero {
    background-image: url(../img/hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .barra {
        position: absolute;
        background-color:$celeste;
        width: 100%;
        top: 1rem;
        padding: 1rem 0;

        .contenedor {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .logo,
        .navegacion {
            text-align: center;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                @include tablet {
                    flex-direction: row;
                } 
                li {
                    a {
                        color: $blanco;
                        text-decoration: none;
                        display: inline-block;
                        padding-bottom: 1rem; 
                        @include tablet {
                            margin-right: 2rem;
                            padding-bottom: 0;
                        }
                    } 
                }
            }

            .logo-img {
                max-width: 20rem;
            }
        }
    }
}
//Contenido
.contenido {
    @include contenido($blanco);

    h3 {
        text-align: center;
        font-size: .9rem;
        line-height: 1.4rem;
    }
    span {
        color: $rosa;
    }

    .boton {
        @include boton($celeste, $blanco);
    }
}

.contenido-principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
        .entrada {
            flex: 0 1 calc(50% - 1rem);
        }
    }

    @include desktop {
        .entrada {
            flex: 0 1 calc(33.3% - 1rem);
        }
    }
}
