body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 0;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
}

h3 {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  font-size: 700;
}

img {
  max-width: 100%;
}

.hero {
  background-image: url(../img/hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .barra {
  position: absolute;
  background-color: #008fd1;
  width: 100%;
  top: 1rem;
  padding: 1rem 0;
}

.header .barra .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .header .barra .contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .barra .logo,
.header .barra .navegacion {
  text-align: center;
}

.header .barra .logo ul,
.header .barra .navegacion ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .header .barra .logo ul,
  .header .barra .navegacion ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header .barra .logo ul li a,
.header .barra .navegacion ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .header .barra .logo ul li a,
  .header .barra .navegacion ul li a {
    margin-right: 2rem;
    padding-bottom: 0;
  }
}

.header .barra .logo .logo-img,
.header .barra .navegacion .logo-img {
  max-width: 20rem;
}

.contenido {
  background-color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

.contenido h3 {
  text-align: center;
  font-size: .9rem;
  line-height: 1.4rem;
}

.contenido span {
  color: #db008d;
}

.contenido .boton {
  background-color: #008fd1;
  color: #fff;
  padding: .6rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.contenido-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .contenido-principal .entrada {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
            flex: 0 1 calc(50% - 1rem);
  }
}

@media (min-width: 1024px) {
  .contenido-principal .entrada {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33.3% - 1rem);
            flex: 0 1 calc(33.3% - 1rem);
  }
}
/*# sourceMappingURL=app.css.map */